@media screen and (max-width: 600px) {
    .mb-hidden {
        display: none;
    }

    .photo-grid {
        display: grid !important;
        grid-template-rows: repeat(6, 1fr) !important;
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .grid-photo-1 {
        grid-row: 1 !important;

    }

    .grid-photo-2 {
        grid-row: 3 !important;
    }

    .grid-photo-3 {
        grid-row: 5 !important;
    }

    .nav-container {
        width: 90vw !important;
    }

    .frm-small {
        display: flex !important;
        flex-flow: row wrap !important;
        align-items: center !important;
        justify-content: center !important;

    }

    .text-single {
        width: 100% !important;
        font-family: 'Lato', 'sans-serif' !important;
    }

    .btn-def-large {
        box-sizing: border-box !important;
        width: 100% !important;
        margin-left: 0 !important;
    }

    .header-large {
        font-size: 2.25em !important;
    }

    .test {
        display: flex !important;
        flex-flow: row wrap !important;
        justify-content: space-between !important;
    }

    .flex-row {
        display: flex !important;
        flex-flow: column nowrap !important;
        justify-content: center !important;
        align-content: space-between !important;
    }

    .flex-row-item {
        margin-bottom: 5% !important;
    }

    .desc {
        font-size: 1.3em !important;
        line-height: 1.3em !important;
    }

    .gt {
        width: 75% !important;
        display: flex !important;
        flex-flow: column nowrap !important;
        align-items: flex-start !important;
        justify-content: center !important;
    }

    .flex-row-title {
        margin: 25% 5% 12% 5% !important;

    }

    .flex-row-title:after {
        content: "..." !important;
    }

    .footer-cont {
        width: 90% !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
    }

    .footer-icons {    
        display: flex !important;
        flex-flow: row wrap !important;
        justify-content: space-between !important;
        width: 45vw !important;
        margin-top: 6% !important;
        
    }

    .footer-link {
        font-size: 0.80em !important;
    }
}

li {
    display: inline;
}

ul {
    padding: 0;
}

.banner {
    box-sizing: border-box;
    height: 80vh;
}

.banner-small {
    height: 45vh;
}

.centered {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.container {
    box-sizing: border-box;
    width: 70vw;
    margin: 6% auto;
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.footer-icons {    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex-basis: 15%;
}

.flex-row-item {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    flex: 0 0 25%;
}

.flex-row-title {
    margin-top: 6%;
}

.footer-cont {
    box-sizing: border-box;
    height: 100%;
    width: 70vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer-li {
    margin: 0 0.5em;
}

.footer-li-first {
    margin-right: 0.5em;
}

.gp {
    min-height: 480px;

}

.gt {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: center;
}

.nav-container {
    box-sizing: border-box;
    width: 70vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.photo-grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.section {
    overflow: auto;
}