.navigation {
    background: black;
}

.header {
    font-family: 'Helvetica';
    font-size: 1.25rem;
    font-weight: 400; 
}

.header-light {
    color: white;
}

.header-dark {
    color: black;
}

.header-large {
    font-size: 3.25em;
    font-weight: lighter;
}


.btn-default {
    color: white;
}

.banner {
    /* background-image: url('/images/leaf.jpg');
    background-size: cover; */
    background-color: #030;
}

