h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato','sans-serif';
    font-size: 1.25em;
    font-weight: 400; 
    margin: 0;
    text-align: center;
}

.banner {
    background-image: url('../images/bloom.jpg');
    background-size: cover; 
}

.circle-frame {
    border-radius: 50%;
    box-shadow: 0 5px 5px 0 #aba;
    max-width: 192px;
    height: auto;
}

.desc {
    font-family: 'Lato','sans-serif';
    font-weight: 300;
    font-size: 1.25em;
    line-height: 1.25em;
    color: #334;  
    text-align:center;
}

.hvr-icon:hover .fas {
    font-size: 110%;
}

.flex-row-title {
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
}

.footer-link {
    font-family: 'Lato', 'sans-serif';
    text-decoration: none;
    color: #060;
}

.footer-link:hover {
    color: #030;
}

.grid-photo-1 {
    background-image: url('../images/solar.jpg');
    background-size: cover;
}

.grid-photo-2 {
    background-image: url('../images/recycle.jpg');
    background-size: cover;
}

.grid-photo-3 {
    background-image: url('../images/iceberg.jpg');
    background-size: cover;
}

.gt {
    font-size: 1.1em;
}

.header-bold {
    font-size: 1.8em;
    font-weight: 700;
    margin-top: 1.25rem;
}

.header-light {
    color: white;
}

.header-large {
    font-size: 3.25em;
    font-weight: 700;
}

.icon {
    color: #030;
    font-size: 2em;
}

.la {
    text-align: left;
}

.large-icon {
    font-size: 5em;
    color: #030;
}

.legal {
    font-family: 'Lato', 'sans-serif';
    font-size: 0.75rem;
    font-weight: 400;
    color: gray;
}

.navigation {
    background: black;
}

.overlay {
    background-color: rgba(0,0,0,0.2);
    height: 100%;
    width: 100%;
}

.section {
    background-color: #efefef;
}




