/* Begin layout styles */

#hor-nav-container {
    box-sizing: border-box;
    height: 100%;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav {
    position: fixed;
    top: 0;
    background-color: black;
    color:white;
    width: 100%;
    height: 8vh;
}

section {
    width: 95%;
    margin: 13vh auto;
}

@media (min-width: 900px) {
    
    body {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 0;
    }

    #headshot {
        margin-bottom: 1.5rem;
    }

    #hor-nav-container {
        display: none;
    }

    nav {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        width: 18vw;
        height: 100vh;
    }

    section {
        width: 77vw;
        grid-column: 2;
    }
}

/* End layout styles */