/* Begin module styles */

.collapsible {
    height: 0;
    transition: 300ms ease-in-out;
}

#list {
    display: none;
}

.mb-hidden {
    display: none;
}

@media screen and (min-width: 900px) {
    
    .collapsible {
        display: block;
    }

    .dt-hidden {
        display: none;
    }

    .mb-hidden {
        display: block;
    }
}

/* End modyle styles */