/* Begin module styles */

.collapsible { 
    background-color: black;
    display: flex; 
    flex-flow: column nowrap;
    justify-content: center;
    max-height: 0;
    overflow: hidden;
}

.content {
    height: 95%;
}

.highlight {
    color: blue;
}

#list {
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    text-align: left;
    width: 94%;
}

#list > li {
    text-transform: uppercase;
    padding: 0.75em 0;
}

#list > li:hover {
    cursor: pointer;
    color: blue;
}

.mb-hidden {
    display: none;
}

#menu-toggle {
    font-size: 1.7em;
}

.social-icons > a > i {
    height: 3.5rem;
    width: 3.5rem;
    font-size: 1.5rem;
    background-color: gray;
    color: white;
    border-radius: 100%;
    text-align: center;
    line-height: 3.5rem;
    margin-right: 1.5rem;
}

.social-icons > a > i:hover {
    background-color: blue;
}

@media screen and (min-width: 900px) {
    
    .circle-frame {
        border-radius: 50%;
    }
    
    .collapsible {
        margin: auto 0;
        min-height: 25rem;
        max-height: 95%;
        justify-content: space-between;
        align-items: center;
    }

    .content {
        height: 25rem;
        max-width: 65%;
    }

    .dt-hidden {
        display: none;
    }

    #list {
        text-align: center;
    }

    .mb-hidden {
        display: block;
    }
}

/* End module styles */