/* Begin state-dependent styles */


.highlighted {
    color: blue;
}

/* only visible in mobile */
@media screen and (max-width: 900px) {
    .show {
        max-height: 50vh;
        transition: 300ms linear;
    }
}

/* End state-dependent styles */